@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Rubik:wght@300&display=swap');

.centre{
    width: 400px;
    height: 400px;
    /*width: 50%;
    height: 50%;*/
    margin: auto;
    background-color: rgb(228, 228, 228);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.arrow{
    block-size: 13%;
}

.arrow:hover{
    background-color: rgb(255, 255, 255);
}

#left_arrow{
    transform: scaleX(-1);
    /*화살표 이미지 좌우 반전*/
}


#looks{
    width: 65%;
    height: 90%;
    position: relative;

    background-color: rgb(114, 114, 114);
}

#looks img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

#centre2{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#centre2 img{
    margin: 5% 5%;
    width: 90%;
}

#centre3{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
}

#mp3_title{
    font-family: 'Rubik', sans-serif;
    color: rgb(105, 105, 105);
    font-weight: 1200;
    font-size: 180%;
}

#mp3_img{
    position: relative;
    width: 200px;
    height: 200px;
}